Xcode/SDL/SDL.xcodeproj/xcuserdata/
Xcode-iOS/SDL/SDL.xcodeproj/xcuserdata/
Xcode-iOS/SDL/build/
VisualC/.vs/SDL/v15/.suo
*.db
*.vcxproj
*.obj
*.user
*.log
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.tlog
*.res
.DS_Store
lib_debug/
lib_release/
lib_latest/
obj_release/
obj_debug/
